body{
  background: #999;
  font-family: arial;
}

h4, h3, h1 {
  color: white;
  background: #666;
}

h2 {
  color: white;
  background: #666;
}

p {
  color: white;
  padding: 5px;
}

.last {
  background: #888;
}